
body{
    font-size: 30px;
}
.res{
color:maroon;

}
div {
padding:80px;
border: 3px solid black;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;
background-color: rgb(228, 168, 168);
}
button{

    font-size:100%;
}
  